.code-container pre code {
    overflow: auto;
    max-width: 130ch;
    min-width: 80ch;
    width: fit-content;
    max-height: calc(100vh - 7em) !important;
}

.code-container pre {
    height: min-content;
    width: min-content;
}
